.btnPrevious {
  left: unset !important;
  right: 50px !important;
  top: -40px;
}

.btnNext {
  left: unset !important;
  right: 0px !important;
  top: -40px;
}
.btnBuy {
  background: linear-gradient(90deg, #17573c 24.63%, #4ac486 100%) !important;
}
