.listCard {
    position: relative;
    overflow: hidden;
  }
  
  .titleCard {
    background: white;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-size: 42px;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 16px;
  }
  .packageCard {
    background: white;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-weight: 700;
    letter-spacing: 2%;
    text-align: center;
  }
  
  .btnBuy {
    @apply bg-gradient-to-r from-[#17573C] to-[#4AC486] inline-flex items-center justify-center gap-2 whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 [&_svg]:pointer-events-none [&_svg]:size-4 [&_svg]:shrink-0 bg-primary text-primary-foreground hover:opacity-90  h-10 px-4 py-2;
  }
  @media only screen and (max-width: 892px) {
    /* For desktop: */
    .titleCard {
      background: white;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      font-size: 32px;
      font-weight: 700;
      text-transform: uppercase;
      padding-bottom: 16px;
    }
  }
  @media only screen and (max-width: 568px) {
    /* For desktop: */
    .titleCard {
      background: white;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      font-size: 42px;
      font-weight: 700;
      text-transform: uppercase;
      padding-bottom: 16px;
    }
  }